    <button onclick="ResetBoard()">Reset</button>
    <div>
        <table>
            <tr>
                <td>bat</td>
                <td>bat</td>
                <td>bat</td>
                <td>bat</td>
            </tr>
            <tr>
                <td>bat</td>
                <td>bat</td>
                <td>bat</td>
                <td>bat</td>
            </tr>
            <tr>
                <td>bat</td>
                <td>bat</td>
                <td>bat</td>
                <td>bat</td>
            </tr>
            <tr>
                <td>bat</td>
                <td>bat</td>
                <td>bat</td>
                <td>bat</td>
            </tr>
        </table>
    </div>
    <h1 id="result"></h1>